div .modal {
    display: block;
    color: white;
}
label {
    font-size: 15px;
    margin-bottom: 3px;
}
.btn-password-show {
    position: inherit;
    background-color: white;
    font-family: 'Icons';
    border-radius: 0px;
    border-color: #ced4da;
}

.modal-header {
    background-color: var(--primary-dark);
    border: none;
    box-shadow: -1px 0px 1px 1px #000;
    box-sizing: content-box;
    clip-path: polygon(0% 0%, 100% 0%, 100% 120%, 0% 120%);
    border-radius: 2px 2px 0px 0px;
}

.modal-content {
    box-sizing: initial;
}

.modal-footer {
    padding-top: 0;
    border: none
}

.modal-content {
    padding-bottom: .25rem
}