<div style="z-index:100000;" draggable="true" ondragstart="event.preventDefault(); event.stopPropagation();" class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@Request.RequestTitle</h5>
				<button type="button" class="btn-close btn-close-white" @onclick="() => Request.Callback(false)" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h6>@Request.RequestMessage</h6>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => Request.Callback(true)">Delete</button>
				<button type="button" class="btn btn-secondary" @onclick="() => Request.Callback(false)">Don't Delete</button>
			</div>
		</div>
	</div>
</div>