@using AccountManager.Core.Enums;
<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Account</h5>
                <button type="button" class="btn-close btn-close-white" @onclick="Close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
                <button type="button" class="btn btn-dark" @onclick="AddAccount">Add Account</button>
            </div>
        </div>
    </div>
</div>