@namespace AccountManager.Blazor.Components.Modals

<div class="modal show" style="display:block; color:var(--primary-dark);" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close btn-close-white" @onclick="Close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@ExportAccountRequest">
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                        <InputText style="margin-bottom:12px" type="password" class="form-control" id="currentPassword" aria-describedby="emailHelp" @bind-Value="ExportAccountRequest.Password" placeholder="Current Password"></InputText>
                </div>
            </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="Submit">Export Account</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>

