@using AccountManager.Core.Enums;
@using AccountManager.Core.Interfaces
@using System.Text.RegularExpressions
@inject IAppState _appState
@inject IAccountService _accountService
<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Account</h5>
                <button type="button" class="btn-close btn-close-white" @onclick="Close" aria-label="Close"></button>
            </div>
            <EditForm Model="@NewAccount">
                <div class="modal-body">
                        <div class="form-group">
                            <label for="newAccountName">Name</label>
                            <InputText id="newAccountName" style="margin-bottom: 12px" class="form-control input-text" @bind-Value="NewAccount.Id" placeholder="Name"required></InputText>
   
                            <label for="newAccountUsername">Username</label>
                            <InputText id="newAccountUsername" style="margin-bottom: 12px" class="form-control input-text" @bind-Value="NewAccount.Username" placeholder="Username" required></InputText>

                            <label for="newAccountPass">Password</label>
                            <InputText id="newAccountPass" style="margin-bottom: 12px" class="form-control input-text" @bind-Value="NewAccount.Password" placeholder="Password" required></InputText>
                        </div>
                        <div class="form-group">
                            <label for="accountTypeSelect">Account Type</label>
                            <InputSelect id="accountTypeSelect" style="margin-bottom: 12px" class="form-select input-text" @bind-Value="NewAccount.AccountType">
                                @foreach (var accountType in Enum.GetValues(typeof(AccountType)))
                                {
                                    <option value="@accountType">@Regex.Replace(accountType?.ToString() ?? "", "(\\B[A-Z])", " $1")</option>
                                }
                            </InputSelect>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
                    <button type="submit" class="btn btn-dark" @onclick="AddAccount">Add Account</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>