body {
}

.directory-list-item {
    padding: 15px 10px 15px 15px;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
}

.oi-folder {
    margin-right: 5px
}

ul {
    list-style-type: none;
    padding: 0px;
    max-height: 60vh;
    overflow: auto;
}

input {
    width: -webkit-fill-available;
    margin-right: 4px;
}

.modal {
    z-index: 100000;
}

.modal-body {
    padding: 0px;
}

delete-library-icon {
    float: right;
    cursor: pointer
}

.modal-body-top-bar {
    display: flex;
    margin: 11px
}