<div style="display: flex;gap: 42px;font-size: 29px;align-items: center;">
    @if (ShowPageNavigation)
    {
        <span class="oi oi-chevron-left" @onclick="DecrementPage"></span>
    }
    <h1>@Title</h1>
    @if (ShowPageNavigation)
    {
        <span class="oi oi-chevron-right" @onclick="IncrementPage"></span>
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "...";

    [Parameter]
    public Action DecrementPage { get; set; }

    [Parameter]
    public Action IncrementPage { get; set; }

    [Parameter]
    public bool ShowPageNavigation { get; set; } = true;
}
