@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Services
@using Blazorise.Charts
@inject AppState _state
@implements IDefaultPage

<h5 class="no-data-label">No data available</h5>