body {
}
div .container-fluid {
    font-family: Roboto;
    background-color: var(--primary-light);
    color: var(--secondary-light)
}

div .col {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    align-content: flex-start;
    font-size: 24px;
    gap: 24px;
    padding-bottom: 20px
}

div .col span {
    cursor: pointer
}

div .modal {
    display: block
}

.input-text {
    margin-bottom: 12px
}