@using AccountManager.Core.Services
@using AccountManager.Blazor.Components
@inherits LayoutComponentBase
@inject AuthService _authService; 
@inject AlertService _alertService; 

@if (!string.IsNullOrEmpty(_alertService.ErrorMessage)){
	<div class="alert alert-danger notification" role="alert">
		@_alertService.ErrorMessage
		<a class="close" @onclick="() => _alertService.ErrorMessage = string.Empty">X</a>
	</div>
}
else if (!string.IsNullOrEmpty(_alertService.InfoMessage)){
	<div class="alert alert-primary notification" role="alert">
		@_alertService.InfoMessage
		<a class="close" @onclick="() => _alertService.InfoMessage = string.Empty">X</a>
	</div>
}

@foreach (var request in _alertService.TwoFactorRequests){
	<TwoFactorAuthModal Request="request"></TwoFactorAuthModal>
}

@if (_authService.LoggedIn){
    <div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>

			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
}
else if (_authService.AuthInitialized)
{
	<form class="login-form">
		<div>
			<span class="oi oi-lock-locked"></span>
			<h3>Enter Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" @onclick=Login>Login</button>
		</div>
	</form>
}
else {
	<form class="login-form">
		<div>
			<span class="oi oi-lock-unlocked"></span>
			<h3>Create Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" @onclick=Register>Register</button>
		</div>
	</form>
}

