@using AccountManager.Core.Services
@using AccountManager.Blazor.Components
@inherits LayoutComponentBase
@inject AuthService _authService; 
@inject AlertService _alertService; 

<div class = "notification">
	@foreach(var errorMessage in _alertService.GetErrorMessages()){
		<div class="alert alert-danger" role="alert">
			@errorMessage
			<a class="close" @onclick="() => _alertService.RemoveErrorMessage(errorMessage)">X</a>
		</div>
	}

	@foreach(var infoMessage in _alertService.GetInfoMessages()){
		<div class="alert alert-info" role="alert">
			@infoMessage
			<a class="close" @onclick="() => _alertService.RemoveInfoMessage(infoMessage)">X</a>
		</div>
	}
</div>


@foreach (var request in _alertService.GetTwoFactorAuthRequests()){
	<TwoFactorAuthModal Request="request"></TwoFactorAuthModal>
}

@if (_authService.LoggedIn){
    <div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>

			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
}
else if (_authService.AuthInitialized)
{
	<form class="login-form">
		<div>
			<span class="oi oi-lock-locked"></span>
			<h3>Enter Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" @onclick=Login>Login Test</button>
		</div>
	</form>
}
else {
	<form class="login-form">
		<div>
			<span class="oi oi-lock-unlocked"></span>
			<h3>Create Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" @onclick=Register>Register</button>
		</div>
	</form>
}

