<div class="@NavMenuCssClass sidebar-shrink" style="background-color:var(--primary-dark)" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-spreadsheet" aria-hidden="true"></span>
				<p>Accounts</p>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="settings">
				<span class="oi oi-cog" aria-hidden="true"></span>
				<p>Settings</p>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="about">
				<span class="oi oi-clipboard" aria-hidden="true"></span>
				<p>About</p>
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
