@using AccountManager.Blazor.Components.AccountListTile.TileContent.Pages
@using AccountManager.Blazor.Components.AccountListTile.TileContent.Pages.League
@using AccountManager.Blazor.Components.AccountListTile.TileContent.Pages.Valorant
@using AccountManager.Core.Models
@using Microsoft.Extensions.Caching.Memory
@using System.Reflection
@inject IMemoryCache _cache

<div class="data-page-container">
    @if (pages?.Count > 0)
    {
        <DynamicComponent Type="pages[activePage]" Parameters="pageParams"></DynamicComponent>
    }
</div>
<div class="carousel-indicators">
    <div>
        <span @onclick="decrementPage" class="oi oi-chevron-left" />
    </div>
    @foreach (var i in Enumerable.Range(0, pages?.Count ?? 0))
    {
        <button type="button" class="@getPageButtonClass(i)" @onclick="() => setPage(i)"></button>
    }

    <div>
        <span @onclick="incrementPage" class="oi oi-chevron-right" />
    </div>
</div>


