@using AccountManager.Blazor.Components.AccountListTile.TileContent.Pages
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Infrastructure.CachedClients
@using Microsoft.Extensions.Caching.Distributed
@using Microsoft.Extensions.Caching.Memory
@inject ILeagueClient _leagueClient 
@inject IDistributedCache _distributedCache
@inject IMemoryCache _memoryCache

<li class="list-group-item" style="padding:8px">
    <span class="oi oi-reload" @onclick="RefreshData" @onmouseout="MouseExitGraph" @onmouseover="MouseEnterGraph" />
    <div>
        <p class="account-title">@Account?.Username</p>
        @if (Account?.Rank?.Tier is null && Account?.Rank?.Ranking is null)
        {
            <p class="account-rank">N/A</p>
        }
        else
        {
            <p class="account-rank" style="color:@Account?.Rank?.HexColor">@Account?.Rank?.Tier @Account?.Rank?.Ranking</p>
        }
        <div class="tile-content-wrapper" @onmouseout="MouseExitGraph" @onmouseover="MouseEnterGraph">
            <TileContentData Account="Account"></TileContentData>
        </div>
    </div>
</li>


