@using AccountManager.Blazor.Components.AccountListTile.TileContent.Pages
@using AccountManager.Core.Models


<li class="list-group-item" style="padding:8px">
    <span class="oi oi-reload" style="position: absolute;margin: 7px;right: 0;font-size: 9px;cursor: pointer;"></span>
    <div>
        <p class="account-title">@Account?.Username</p>
        @if (Account?.Rank?.Tier is null && Account?.Rank?.Ranking is null)
        {
            <p class="account-rank">N/A</p>
        }
        else
        {
            <p class="account-rank" style="color:@Account?.Rank?.HexColor">@Account?.Rank?.Tier @Account?.Rank?.Ranking</p>
        }
        <div class="tile-content-wrapper" @onmouseout="MouseExitGraph" @onmouseover="MouseEnterGraph">
            <TileContentData Account="Account"></TileContentData>
        </div>
    </div>
</li>


