@using AccountManager.Blazor.Components.AccountListTile.TileContent.Pages
@using AccountManager.Core.Models
<div style="height: 100%; width:100%" id="carousel-@this.GetHashCode()" class="carousel slide" data-bs-ride="carousel">
    <div style="height: 100%;" class="carousel-inner">
        @if (Account.AccountType == Core.Enums.AccountType.League)
        {
            <div style="height: 100%;" class="carousel-item active">
                <LeagueWinsPage Account="Account"/>
            </div>
        }
        else if (Account.AccountType == Core.Enums.AccountType.Valorant)
        {
            <div style="height: 100%;" class="carousel-item active">
                <ValorantRRChangePage Account="Account"/>
            </div>        
            <div style="height: 100%;" class="carousel-item">
                <ValorantAverageACSPage Account="Account"/>
            </div>        
            <div style="height: 100%;" class="carousel-item">
                <ValorantRankedWinsPage Account="Account"/>
            </div>        
            <div style="height: 100%;" class="carousel-item">
                <ValorantMostUsedOpPage Account="Account"/>
            </div>
        }
        else
        {
            <div style="height: 100%;" class="carousel-item active">
                <LeagueWinsPage Account="Account"/>
            </div>
        }

    </div>
    <div class="carousel-indicators" style="margin-bottom: 3px;">
       @if (Account.AccountType == Core.Enums.AccountType.League)
        {
            <button type="button" data-bs-target="#carousel-@this.GetHashCode()" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        }
        else if (Account.AccountType == Core.Enums.AccountType.Valorant)
        {
            <button type="button" data-bs-target="#carousel-@this.GetHashCode()" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-@this.GetHashCode()" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-@this.GetHashCode()" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-@this.GetHashCode()" data-bs-slide-to="3" aria-label="Slide 4"></button>
        }
        else
        {
            <button type="button" data-bs-target="#carousel-@this.GetHashCode()" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        }
    </div>
</div>

@code {
    [Parameter]
    public Account Account { get; set; }
}
