@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@inject ILeagueGraphService _graphService

<div style="height: 88%;width: 90%;display: flex;flex-direction: column;row-gap: 50px;margin-top: 10px;">
    <div style="gap: 50px;height: 30vh;display:flex">
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <LineChartWrapper LineGraph="rankedWinsGraph"></LineChartWrapper>
        </div>
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <PieChartWrapper PieChart="rankedChampSelectPieChart"></PieChartWrapper>
        </div>
    </div>
    <div style="gap: 50px;height: 30vh;display:flex">
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <BarChartWrapper BarChart="rankedWInrateByChamp"></BarChartWrapper>
        </div>
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <BarChartWrapper BarChart="rankedCsRateByChamp"></BarChartWrapper>
        </div>
    </div>
</div>



