@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@inject ILeagueGraphService _graphService

<div style="height: 88%;gap: 58px;display: flex;flex-direction: column;">
    <div style="gap: 50px;height: 30vh;display:flex">
        <div >
            <LineChartWrapper LineGraph="rankedWinsGraph"></LineChartWrapper>
        </div>
        <div>
            <PieChartWrapper PieChart="rankedChampSelectPieChart"></PieChartWrapper>
        </div>
    </div>
    <div style="gap: 50px;height: 30vh;display:flex">
        <div>
            <BarChartWrapper BarChart="rankedWInrateByChamp"></BarChartWrapper>
        </div>
        <div>
            <BarChartWrapper BarChart="rankedCsRateByChamp"></BarChartWrapper>
        </div>
    </div>
</div>



