@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@inject IValorantGraphService _graphService

<div style="height: 88%;width: 90%;display: flex;flex-direction: column;row-gap: 50px;margin-top: 10px;">
    <div style="gap: 50px;height: 30vh;display:flex">
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <LineChartWrapper LineGraph="rankedRRChangeGraph"></LineChartWrapper>
        </div>
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <PieChartWrapper PieChart="recentlyUsedOperatorsPieChart"></PieChartWrapper>
        </div>
    </div>
    <div style="gap: 50px;height: 30vh;display:flex">
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <LineChartWrapper LineGraph="rankedWinGraph"></LineChartWrapper>
        </div>
        <div style="width: 45%; height: 100%;display: flex;justify-content: center;align-items: center;">
            <LineChartWrapper LineGraph="rankedRRChangeGraph"></LineChartWrapper>
        </div>
    </div>
</div>

@code {
    public static string Title = "Data";
    [Parameter, EditorRequired]
    public Account Account { get; set; }
    [Parameter, EditorRequired]
    public Action IncrementPage { get; set; }
    [Parameter, EditorRequired]
    public Action DecrementPage { get; set; }

    LineGraph rankedRRChangeGraph;
    PieChart recentlyUsedOperatorsPieChart;
    LineGraph rankedWinGraph;

    protected override async Task OnInitializedAsync()
    {
        if (Account is null)
            return;

        rankedRRChangeGraph = await _graphService.GetRankedRRChangeLineGraph(Account);
        recentlyUsedOperatorsPieChart = await _graphService.GetRecentlyUsedOperatorsPieChartAsync(Account);
        rankedWinGraph = await _graphService.GetRankedWinsLineGraph(Account);
    }
}