@using AccountManager.Blazor.Components.Modals
@using AccountManager.Blazor.Components.Modals.ExportAccountModal
@using AccountManager.Core.Enums
@using AccountManager.Core.Factories
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Models.UserSettings
@using AccountManager.Core.Services
@using AccountManager.Infrastructure.Services.FileSystem
@using Microsoft.Extensions.Caching.Distributed
@using Microsoft.Extensions.Caching.Memory
@inject IAppState _state
@inject IDistributedCache _persistantCache
@inject IShortcutService _shortcutService
@inject IGenericFactory<AccountType, IPlatformService> _platformServiceFactory
@inject IAlertService _alertService
@inject IAppState _appState
@inject IUserSettingsService<Dictionary<Guid, AccountListItemSettings>> _accountItemSettings

<div class="row">
	<div class="col">
        <span @onclick=Delete class="oi oi-trash" title="Delete" ></span>
    </div>
	<div class="col">
		<div class="dropdown dropend">
			<span class="oi oi-share-boxed" title="Export" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" @onclick="CreateShortcut">Create desktop shortcut</a>
			  </div>
		</div>
	</div>
	<div class="col">
		<div class="dropdown dropend">
			<span class="oi oi-wrench" title="Configure" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" @onclick="OpenEditModal">Edit account details</a>
				<a class="dropdown-item" @onclick="ToggleContentView">Toggle content view</a>
			</div>
		</div>
	</div>
	<div class="col">
		<span @onclick="Login" class="oi oi-media-play" title="Login" style="@loginBtnStyle"></span>
	</div>
</div>

@if (deleteAccountConfirmationRequest is not null)
{
    <ConfirmationPrompt Request="deleteAccountConfirmationRequest"></ConfirmationPrompt>
}