@inherits LayoutComponentBase

<div>
    <div class="card" style="">
        <div class="card-body">
            <div class="card-logo-slot placeholder-glow"  style="background-color: initial;"><span class="placeholder col-12" style="height: 34px;background-color: var(--secondary-light);width: 34px;"></span></div>
            <div style="width: 40px;" >
            </div>
        </div>
        <ul class="list-group list-group-flush" >
            <li class="list-group-item" style="padding:8px" >
            <div  class="placeholder-glow">
                <p class="account-title" ><span class="placeholder col-5" style="background-color: var(--primary-dark);"></span></p>
                <p class="account-rank" style="color:#7e878b" ><span class="placeholder col-4" style="background-color: var(--primary-dark);"></span></p>
                <div class="tile-content-wrapper" >
                    <div class="data-page-container" >
                        <span class="placeholder col-12" style="height: 92%;background-color: var(--primary-dark);"></span>
                    </div>
                    <div class="carousel-indicators" >
                        <div ><span class="placeholder col-12" style="width: 87px;background-color: var(--primary-dark);"></span></div>
                    </div>
                </div>
            </div>
            </li>
        </ul>
        <div class="container account-btn-container" >
            <div class="row" >
            <div class="col" ><span class="oi oi-trash" title="Delete"  style="color: var(--secondary-dark);"></span></div>
            <div class="col" >
                <div class="dropdown dropend" >
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                        <a class="dropdown-item" >Export Account</a>
                        <a class="dropdown-item" >Create desktop shortcut</a>
                    </div>
                </div>
            </div>
            <div class="col" >
                <div class="dropdown dropend" >
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                        <a class="dropdown-item" >Edit account details</a>
                        <a class="dropdown-item" >Toggle content view</a>
                    </div>
                </div>
            </div>
            <div class="col" ></div>
            </div>
        </div>
    </div>
</div>