@using AccountManager.Core.Enums
@using AccountManager.Core.Factories
@using AccountManager.Core.Interfaces
@using Microsoft.Extensions.Caching.Memory
@inject GenericFactory<AccountType, IPlatformService> _platformServiceFactory
@inject IMemoryCache _memoryCache

<div class="card-logo-slot">
    @if (logoUrl.EndsWith("svg"))
    {
        <div class="game-logo">
            <img src="@logoUrl" class="game-logo" />
        </div>
    }
    else
    {
        <img src="@logoUrl" class="game-logo" />
    }
  
</div>
<h5 class="card-title">@Title</h5>
<div style="width: 40px;" @onmouseout="MouseExitDragLogo" @onmouseover="MouseEnterDragLogo">
    <span class="drag-icon game-logo oi oi-menu"/>
</div>