@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Services
@using AccountManager.Infrastructure.CachedClients
@using AccountManager.Infrastructure.Clients
@using Blazorise.Charts
@inject AppState _state
@inject IValorantClient _valorantClient
@implements IValorantPage

@if (storeFrontSkins is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (storeFrontSkins?.Any() is not true)
{
    <h5 class="no-data-label">No data available</h5>
}
else
{
    <div class="skins-page-container">
        <p>Store Front</p>
        <div class="skins-display-container">
            @for (int i = 0; i < 4; i++)
            {
                <div class="skin-container" title="@storeFrontSkins[i].Data.DisplayName: @storeFrontSkins[i].Data.Price VP">
                    <img class="skin-icon" src="@storeFrontSkins[i].Data.DisplayIcon" />
                </div>
            }
        </div>
    </div>
}


