@using AccountManager.Core.Models
 <div class="title-container">
    <h2 class="" style="">Valorant</h2>
</div>
<div class="account-details-container">
    <div class="account-details-sub-container">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Name</label>
            <div class="col-7">
                <input type="text" readonly="" class="form-control-plaintext" value="@Account.Id">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Username</label>
            <div class="col-7">
                <input type="text" readonly="" class="form-control-plaintext" value="@Account.Username">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Rank</label>
            <div class="col-7">
                <input type="text" readonly="" class="form-control-plaintext" value="@Account?.Rank?.Tier @Account?.Rank?.Ranking">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Password</label>
            <div class="col-7">
                <input type="password" readonly="" class="form-control-plaintext" value="@Account?.Password">
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Account Account { get; set; }
}
