@using AccountManager.Core.Models
 <div class="" style="">
    <h2 class="" style="margin-top: 30px;">Valorant</h2>
</div>
<div style="display:flex;width: 90%;">
    <div class="" style="display: flex;flex-direction: column;width: 100%;gap: 13px;">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Name</label>
            <div class="col-7">
                <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="@Account.Id" style="color: white;text-align-last: center;">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Username</label>
            <div class="col-7">
                <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="@Account.Username" style="color: white;text-align-last: center;">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Rank</label>
            <div class="col-7">
                <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="@Account?.Rank?.Tier @Account?.Rank?.Ranking" style="color: white;text-align-last: center;">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-5 col-form-label">Password</label>
            <div class="col-7">
                <input type="password" readonly="" class="form-control-plaintext" id="staticEmail" value="@Account?.Password" style="color: white;text-align-last: center;">
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Account Account { get; set; }
}
