@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Services
@using Blazorise.Charts
@inject IAppState _state
@inject ILeagueGraphService _leagueGraphService
@implements ILeaguePage

@if (displayGraph is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (displayGraph?.Data?.Any() is not true)
{
    <h5 class="no-data-label">No data available</h5>
}

<BarChart Class="@(displayGraph?.Data?.Any() is not true ? " d-none" : "")" @ref="barChart" Options="barChartOptions" TItem="double?"></BarChart>

