@using AccountManager.Core.Interfaces
@using AccountManager.Core.ViewModels
@inherits LayoutComponentBase

<div class="row">
    <div class="col-md" style="display:flex">
    <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" style="margin-right:10px" height="30px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve"> <g> <g> <defs> <rect id="SVGID_1_" x="45.466" y="21.831" width="709.068" height="756.338"/> </defs> <clipPath id="SVGID_2_"> <use xlink:href="#SVGID_1_" overflow="visible"/> </clipPath> <path clip-path="url(#SVGID_2_)" fill="#C28F2C" d="M88.166,252.287c-27.217,49.319-42.7,105.816-42.7,165.867 c0,60.067,15.483,116.598,42.7,165.948V252.287z"/> <path clip-path="url(#SVGID_2_)" fill="#C28F2C" d="M400.009,69.626c-28.773,0-56.677,3.474-83.466,9.798v54.841 c26.511-7.471,54.479-11.567,83.466-11.567c165.964,0,300.519,131.853,300.519,294.571c0,73.274-27.362,140.29-72.521,191.805 l-8.554,30.083l-19.006,66.525c93.068-62.789,154.15-168.112,154.15-287.462C754.534,225.662,595.795,69.626,400.009,69.626z"/> <path clip-path="url(#SVGID_2_)" fill="#C28F2C" d="M316.543,599.045h271.911h5.963c46.01-47.286,74.356-111.286,74.356-181.776 c0-145.498-120.333-263.424-268.765-263.424c-29.15,0-57.168,4.638-83.466,13.012V599.045z"/> <polygon clip-path="url(#SVGID_2_)" fill="#C28F2C" points="284.395,21.831 82.104,21.831 120.314,99.792 120.314,700.24 82.104,778.169 546.377,778.169 588.454,630.638 284.395,630.638 "/> </g> </g> </svg>
        <h3 style="font-family:Roboto">
            @ListViewModel.Name
            <span style="font-size:10px;font-weight:100" class="badge badge-secondary">@ListViewModel.Account.Username</span>
        </h3>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm" style="display:flex; justify-content:flex-end; padding-right:0px; align-content:flex-start; font-size:24px; gap:24px">
        <span style="cursor:pointer" class="oi oi-trash"></span>
        <span style="cursor:pointer" class="oi oi-wrench"></span>
        <span style="cursor:pointer" @onclick=LoginTest class="oi oi-account-login"> </span>
    </div>
    <hr class="solid">
</div>

@code {
    [Parameter]
    public AccountListItemViewModel ListViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //TestInterface.TestMethod();
    }

    public async Task LoginTest()
    {
        ListViewModel.LoginService.Login(new Core.Models.Account
            {
                Username = "***REMOVED***",
                Password = "***REMOVED***"
            });
    }
}
