body {
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skin-container {
    justify-content: center;
    row-gap: 53px;
    column-gap: 22px;
    align-items: center;
    margin-bottom: 7vh;
}

.placeholder-container {
    padding: 4px;
    padding-top: 11px;
    text-align-last: center;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 60px;
}

.skin-tile {
    background: var(--primary-light);
    border-radius: 15px;
    padding: 4px;
    padding-top: 11px;
    text-align-last: center;
    overflow: hidden;
    margin-bottom: 12px; 
    box-shadow: 0 0 3px #000;
}

.skin-tile h5 {
    margin-bottom: 15px
}

.skin-icon {
    max-height: 10vh;
    max-width: 30vw
}

.skin-price-container {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.skin-price-container p {
    font-size: 11px;
}

.skin-price-container svg {
    fill: #c8c8c8;
    width: 11px;
}