@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

.sidebar {
	width: 83px;
}

.no-data-label {
	color:#858585; 
	padding-bottom: 15px;
}

:root {
	--primary-dark: #1d1d1d;
	--primary-light: #2f2f2f;
	--secondary-dark: #222222;
	--secondary-light: #3d3d3d;
}

.modal-content {
	background-color: var(--secondary-light)
}

.modal {
	color: white !important;
	background-color: rgb(36 36 36 / 66%)
}

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: white;
	background-color: var(--primary-light);
}

h1:focus {
	outline: none;
}

a, .btn-link {
	color: #0077cc;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.content {
	padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

.blazor-error-boundary {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
	padding: 1rem 1rem 1rem 3.7rem;
	color: white;
}

	.blazor-error-boundary::after {
		content: "An error has occurred."
	}

.plk-dd-inprogess > * {
	pointer-events: none;
}

/*dropzone style style*/
.plk-dd-dropzone {
	min-height: 50px;
}

/*drag drop styles*/

.plk-dd-spacing {
	height: 10px;
}

.plk-dd-spacing-dragged-over {
	padding: 25px;
}

.plk-dd-dragged-over {
	background-color: lightgray;
	opacity: 0.6;
	animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over > div {
	background-color: lightgray;
	opacity: 0.6;
	animation: blinker 1s linear infinite;
}

.plk-dd-dragged-over-denied {
	background-color: red;
	opacity: 0.6;
	animation: blinker 1s linear infinite;
}

.plk-dd-in-transit {
	opacity: 0;
}

.plk-dd-in-transit > div {
	opacity: 0;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.blink_me {
	animation: blinker 1s linear infinite;
}

/*for flex demo*/

.plk-flex .plk-dd-spacing {
	width: 20px;
	height: auto;
}

.plk-flex .plk-dd-dragged-over {
	background-color: lightgray;
	opacity: 0.6;
	animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-dragged-over > div {
	background-color: lightgray;
	opacity: 0.9;
	animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-in-transit {
	background-color: orangered;
}

	.plk-flex .plk-dd-in-transit > div {
		background-color: orangered;
	}

.plk-dd-noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
p {
	margin: 0px
}


/* width */
::-webkit-scrollbar {
	width: 10px;
	margin-right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #3d3c3c;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #626262;
	border-radius: 20px;
	border: 3px solid #3d3c3c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.plk-dd-spacing{
	display:none;
}


@media (max-width: 640px) {
	.sidebars-container {
		display: none !important;
	}

	.main-content {
		width: 100% !important;
	}
}

@media (min-width: 200px) {
	.display-content {
		grid-template-columns: 100%;
	}
	.sidebar{
		display:none;
	}
}

@media (min-width: 530px) {
	.display-content {
		grid-template-columns: 50% 50%;
	}
	.sidebar {
		display: initial;
	}
}


@media (min-width: 1030px) {
	.display-content {
		grid-template-columns: 33% 33% 33%;
	}
} 

@media (min-width: 1400px) {
	.display-content {
		grid-template-columns: 25% 25% 25% 25%;
	}
}

@media (min-width: 1750px) {
	.display-content {
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
}

@media (min-width: 2300px) {
	.display-content {
		grid-template-columns: 16% 16% 16% 16% 16% 16%;
	}
}

@media (min-width: 2700px) {
	.display-content {
		grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
	}
}

@media (min-width: 3500px) {
	.display-content {
		grid-template-columns: repeat(10, 9.8%);
	}
}

.plk-dd-draggable {
	width: 100%;
}

.display-content {
	display: grid;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	max-width: 100%;
}

.form-control:focus {
	border-color: #000000;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(230, 230, 230, 0.6);
	outline: 0 none;
}

.form-select:focus {
	border-color: #000000;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(230, 230, 230, 0.6);
	outline: 0 none;
}

.btn-dark {
	background-color: var(--primary-dark);
}

.btn-dark:hover {
	background-color: var(--secondary-dark);
}

.line-chart {
	width: 90%;
}

.nav-button {
	height: 2rem !important;
	display: flex;
	width: 2rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.main-content {
	width: calc(100% - 283px)
}

.sidebars-container {
	display: flex;
}