@using AccountManager.Core.Enums;
@using AccountManager.Blazor.Components.Modals.ExportAccountModal.PreviewPages;
@using AccountManager.Infrastructure.Services.FileSystem
<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Account</h5>
                <button type="button" class="btn-close btn-close-white" @onclick="Close" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="
                    display: flex;
                ">
                <div style="width: 50%;border-right: 1px solid var(--secondary-dark);height: 70vh;">
                    <button style="width: 100%;height: 15%;">
                        Create desktop shortcut
                    </button>
                    <button style="width: 100%;height: 15%;">
                        Export to file
                    </button>
                </div>
                <div style="width: 50%;height: 70vh;">
                    @if (currentPage == ExportAccountModalPage.CreateDesktopShortcut)
                    {
                        <CreateDesktopShortcutPreview></CreateDesktopShortcutPreview>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
                <button type="button" class="btn btn-dark" @onclick="AddAccount">Add Account</button>
            </div>
        </div>
    </div>
</div>