@using AccountManager.Core.Enums;
@namespace AccountManager.Blazor.Components
<div class="modal show" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="btn-close btn-close-white" @onclick="Close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@Account">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <InputText class="form-control text-input" style="margin-bottom:12px" id="inputName" aria-describedby="emailHelp" @bind-Value="Account.Id" placeholder="Name"></InputText>
   
                        <label for="inputUsername">Username</label>
                        <InputText class="form-control text-input" style="margin-bottom:12px" id="inputUsername" aria-describedby="emailHelp" @bind-Value="Account.Username" placeholder="Username"></InputText>

                        <label for="inputPassword">Password</label>
                        <InputText type="password" style="margin-bottom:12px" class="text-input form-control" id="inputPassword" aria-describedby="emailHelp" @bind-Value="Account.Password" placeholder="Password"></InputText>
                    </div>
                    <div class="form-group">
                        <label for="accountTypeSelect">Account Type</label>
                        <InputSelect id="accountTypeSelect" style="margin-bottom:12px" class="form-select text-input" @bind-Value="Account.AccountType">
                            @foreach (var accountType in Enum.GetValues(typeof(AccountType)))
                            {
                                <option value="@accountType">@accountType</option>
                            }
                        </InputSelect>
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="Submit">Save</button>
            </div>
        </div>
    </div>
</div>