@namespace AccountManager.Blazor.Components

<div class="modal show" style="display:block; color:var(--primary-dark);" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
            <button type="button" class="btn-close btn-close-white" @onclick="Close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <EditForm Model="@PasswordChangeRequest">
                <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <InputText style="margin-bottom:12px" type="password" class="form-control" id="currentPassword" aria-describedby="emailHelp" @bind-Value="PasswordChangeRequest.OldPassword" placeholder="Current Password"></InputText>
   
                <label for="newPassword">New Password</label>
                <InputText style="margin-bottom:12px" type="password" class="form-control" id="newPasswordConfirm" aria-describedby="emailHelp" @bind-Value="PasswordChangeRequest.NewPassword" placeholder="New Password"></InputText>

                <label for="newPasswordConfirm">Confirm New Password</label>
                <InputText style="margin-bottom:12px" type="password"  class="form-control" id="newPasswordConfirm" aria-describedby="emailHelp" @bind-Value="PasswordChangeRequest.NewPasswordConfirm" placeholder="Confirm New Password"></InputText>
                </div>
            </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="Submit">Change Password</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>

