@using AccountManager.Core.Services
@inherits LayoutComponentBase
@inject AuthService _authService; 

<style>
.btn-dark{
	background-color: var(--primary-dark) !important;
}
</style>

@if (_authService.LoggedIn){
    <div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>
			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
}
else if (_authService.AuthInitialized)
{
	<form style="padding:50px; background-color:var(--primary-light); display:flex; flex-flow:wrap; flex-direction:column; align-content:center; justify-content:center; height:85vh; gap:10px">
		<div style="display: flex; align-items: center; flex-direction: column; gap:10px">
			<span class="oi oi-lock-locked" style="font-size:120px; padding-bottom: 20px"></span>
			<h3>Enter Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" @onclick=Login>Login</button>
		</div>
	</form>
}
else {
	<form style="padding:50px; background-color:var(--primary-light); display:flex; flex-flow:wrap; flex-direction:column; align-content:center; justify-content:center; height:85vh;">
		<div style="display: flex; align-items: center; flex-direction: column; gap:10px ">
			<span class="oi oi-lock-unlocked" style="font-size:120px; padding-bottom: 20px;"></span>
			<h3>Create Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" @onclick=Register>Register</button>
		</div>
	</form>
}

@code{
	public string Password { get; set; }

	public async Task Login()
	{
		_authService.Login(Password);
        await InvokeAsync(() => StateHasChanged());
	}

	public async Task Register()
	{
		_authService.Register(Password);
        await InvokeAsync(() => StateHasChanged());
	}
}