@page "/about"
@using System.Diagnostics
@using AccountManager.Blazor.Components
@using AccountManager.Core.Models.AppSettings
@using AccountManager.Core.Services
@using Microsoft.Extensions.Options
@inject IOptions<AboutEndpoints> _aboutEndpointsOptions
@inject AppState _state

<AccountManager.Blazor.Components.Modals.SingleAccountModal.SingleAccountModalFrame Account="_state.Accounts.First()"></AccountManager.Blazor.Components.Modals.SingleAccountModal.SingleAccountModalFrame>
<div>
    <h3 style="text-align:center">Multi Account Manager</h3>
    <hr />
    <p>
        The multi account manager is a one-stop-shop for managing supported gaming related accounts. It currently supports the following platforms/games: Steam, Riot, League of Legends,
        Valorant, and Team Fight Tactics. Ranks are also displayed for the latter 3 games.
    </p>

</div>
<div>
    <p>
        Support the project on GitHub: <a href="./about" @onclick="OpenGitHubPage">@_aboutEndpointsOptions.Value.Github</a>
    </p>
</div>


