@page "/about"
@using System.Diagnostics
@using AccountManager.Blazor.Components
@using AccountManager.Core.Models.AppSettings
@using AccountManager.Core.Services
@using Microsoft.Extensions.Options
@inject IOptions<AboutEndpoints> _aboutEndpointsOptions
@inject AppState _state

<div>
    <h3 style="text-align:center">Omni Account Manager</h3>
    <hr />
    <p>
        The Omni Account Manager (Omni AM) allows gamers to control and manager their accounts from one convient location. For each account, useful data is displayed and a login button is provided to allow seemless account switching. Clicking on applicable account tile may also provide extra account specific data. 
    </p>

</div>
<div>
    <p>
        Support the project on GitHub: <a href="./about" @onclick="OpenGitHubPage">@_aboutEndpointsOptions.Value.Github</a>
    </p>
</div>


