body {
}
div .container-fluid {
    font-family: Roboto;
    background-color: var(--primary-light);
    color: var(--secondary-light)
}
.row{
    margin-right:0px;
}
.plk-dd-draggable div {
    cursor: grab;
    border-style: dashed;
    border-color: #ffffff21;
    border-width: 1px;
}
div .col {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    align-content: flex-start;
    font-size: 24px;
    gap: 24px;
    padding-bottom: 20px
}

div .col span {
    cursor: pointer
}

div .modal {
    display: block
}

.input-text {
    margin-bottom: 12px
}
