@page "/"
@using AccountManager.Blazor.Components
@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Services
@using AccountManager.Infrastructure.Services
@using Microsoft.Extensions.Caching.Memory
@inject IAccountService _accountService
@inject IMemoryCache _memoryCache
@namespace AccountManager.Blazor.Pages

<div class="container-fluid">
    <table class="table table-fit">
        <tbody>
            @if (!DragMode){
                @foreach (var viewModel in ListItems)
                {
                    <AccountListItem AccountService="_accountService" Account="viewModel" ReloadList="() => LoadList()" RenderButtons="true"></AccountListItem>
                }
            }
            else{
                <Dropzone Items="ListItems" TItem="Account">
                    <div>
                        <AccountListItem AccountService="_accountService" Account="@context" ReloadList="() => LoadList()" RenderButtons="false" ></AccountListItem>
                    </div>
                </Dropzone>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col" style="margin-left: -3px" >
            @if (!DragMode)
            {
                <span @onclick="()=>DragMode = true" class="oi oi-list"></span>
                <span @onclick="() => addAccountPrompt = true" class="oi oi-plus"> </span>
            }
            else
            {
                <span @onclick="()=>{DragMode = false; SaveList();}" class="oi oi-check"></span>
            }

        </div>
    </div>
    @if (addAccountPrompt)
    {
        <NewAccountPrompt AccountService="_accountService" Close="() => {addAccountPrompt=false; LoadList();}"></NewAccountPrompt>
    }
</div>
