@page "/"
@using AccountManager.Blazor.Components
@using AccountManager.Blazor.Components.AccountListTile
@using AccountManager.Blazor.Components.Modals
@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Services
@using AccountManager.Infrastructure.Services
@using Microsoft.Extensions.Caching.Memory
@inject IAccountService _accountService
@inject IMemoryCache _memoryCache
@inject AppState _appState
@inject AlertService _alertSerivce
@namespace AccountManager.Blazor.Pages

<div class="container-fluid" style="padding-left:0px;padding-right:0px;margin-top: -12px;justify-content: space-between;">
    <div class="row" style="--bs-gutter-x: 0rem">
        <Dropzone Class="display-content" OnReplacedItemDrop="() => _appState.SaveAccounts()" ItemWrapperClass="@(item => "col-md-4 col-sm-6 col-xxl-2 col-xxxl-2")" Items="_appState.Accounts" TItem="Account">
                <AccountListTile AccountService="_accountService" Account="@context" ReloadList="() => LoadList()" RenderButtons="false" OpenEditModal="() => {editAccountTarget = context; InvokeAsync(() => StateHasChanged());}" ></AccountListTile>
        </Dropzone>

        <div class="col-md-4 col-sm-6 col-xxl-2">
            <div class="card card-placeholder">
	            <ul class="list-group list-group-flush">
                    <li @onclick="()=>addAccountPrompt=true" class="clickable-card list-group-item list-group-item-placeholder">
                        <div class="list-item-placeholder-div">
                            <p>+</p>
                        </div>
                    </li>
                </ul>
	        </div>
        </div>
    </div>
</div>

@if (addAccountPrompt)
{
    <NewAccountModal AccountService="_accountService" Close="() => {addAccountPrompt=false; InvokeAsync(()=>StateHasChanged()); LoadList();}"></NewAccountModal>
}

@if (editAccountTarget is not null)
{
    <AccountEditModal Account="editAccountTarget" AccountService="_accountService" Close="() => {editAccountTarget = null; InvokeAsync(() => StateHasChanged());}"></AccountEditModal>
}