@page "/"
@using AccountManager.Blazor.Components
@using AccountManager.Blazor.Components.AccountListTile
@using AccountManager.Blazor.Components.Modals
@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Services
@using AccountManager.Infrastructure.Services
@using Microsoft.Extensions.Caching.Memory
@inject IAccountService _accountService
@inject IMemoryCache _memoryCache
@inject IAppState _appState
@inject IAccountFilterService _accountFilterService
@inject IAlertService _alertService
@inject IJSRuntime _jsRuntime
@namespace AccountManager.Blazor.Pages

<div class="container-fluid">
    <div class="row" style="--bs-gutter-x: 0rem">
        <Dropzone Id="accounts-grid" Class="display-content" OnItemDrop="() => _appState.SaveAccounts()" ItemWrapperClass="@(acc => _accountFilterService.AccountTypeFilter.Contains(acc.AccountType) && acc?.Id?.ToLower()?.Contains(_accountFilterService.AccountNameFilter.ToLower()) is true ? "col-md-4 col-sm-6 col-xxl-2 col-xxxl-2" : "d-none" )" Items="_appState.Accounts" TItem="Account">
                <AccountListTile AccountService="_accountService" Account="@context" ReloadList="() => LoadList()" RenderButtons="false" OpenEditModal="() => {editAccountTarget = context; InvokeAsync(() => StateHasChanged());}" ></AccountListTile>
        </Dropzone>

        <div id="new-account-placeholder" class="placeholder-account-tile">
            <div class="card card-placeholder">
	            <ul class="list-group list-group-flush">
                    <li @onclick="()=>addAccountPrompt=true" class="clickable-card list-group-item list-group-item-placeholder">
                        <div class="list-item-placeholder-div">
                            <p>+</p>
                        </div>
                    </li>
                </ul>
	        </div>
        </div>
    </div>
</div>

@if (addAccountPrompt)
{
    <NewAccountModal AccountService="_accountService" Close="() => {addAccountPrompt=false; InvokeAsync(()=>StateHasChanged()); LoadList();}"></NewAccountModal>
}

@if (editAccountTarget is not null)
{
    <AccountEditModal Account="editAccountTarget" AccountService="_accountService" Close="() => {editAccountTarget = null; InvokeAsync(() => StateHasChanged());}"></AccountEditModal>
}