@page "/"
@using AccountManager.Blazor.Components
@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Models
@using AccountManager.Core.Services
@using AccountManager.Infrastructure.Services
@using Microsoft.Extensions.Caching.Memory
@inject IAccountService _accountService
@inject IMemoryCache _memoryCache
@inject AppState _appState
@inject AlertService _alertSerivce
@namespace AccountManager.Blazor.Pages

<div class="container-fluid">
    @if (DragMode){
        <h6 style="text-align:center">Drag the accounts to reorder them.</h6>
    }
    <table class="table table-fit">
        <tbody>
            @if (!DragMode){
                @foreach (var account in _appState.Accounts)
                {
                    <AccountListItem AccountService="_accountService" Account="account" ReloadList="() => LoadList()" RenderButtons="true"></AccountListItem>
                }
            }
            else{
                <Dropzone Items="_appState.Accounts" TItem="Account">
                    <div>
                        <AccountListItem AccountService="_accountService" Account="@context" ReloadList="() => LoadList()" RenderButtons="false" ></AccountListItem>
                    </div>
                </Dropzone>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col" style="margin-left: -3px" >
            @if (!DragMode)
            {
                <span @onclick="()=>DragMode = true" class="oi oi-list" title="Reorder List"></span>
                <span @onclick="() => addAccountPrompt = true" class="oi oi-plus" title="Add Account"> </span>
            }
            else
            {
                <span @onclick="()=>{DragMode = false; SaveList();}" class="oi oi-check" title="Save Order"></span>
            }

        </div>
    </div>
    @if (addAccountPrompt)
    {
        <NewAccountPrompt AccountService="_accountService" Close="() => {addAccountPrompt=false; InvokeAsync(()=>StateHasChanged()); LoadList();}"></NewAccountPrompt>
    }
</div>
