body {
}

.main {
    width: 92%
}

.setting-col {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    align-content: flex-start;
    align-items: center;
}

.setting-col button {
    width: auto;
    margin-top: -17px;
}

p {
    width: auto;
    font-size: 20px
}