body {
}

.main {
    width: 92%
}

.setting-col {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    align-content: flex-start;
    align-items: center;
}

.setting-col button {
    width: auto;
    margin-top: -17px;
}

p {
    width: auto;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 20px;
}

tr {
    border-bottom: solid 1px #787b7c;
    height: 60px;
}
td {
    text-align: right;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
table {
    width: 100%;
}
.btn-text-save {
    margin-left: 10px !important;
}

.oi-folder {
    position: inherit;
    background-color: white;
    font-family: 'Icons';
    border-radius: 0px;
    border-color: #ced4da;
}

.text-input{
    width:400px;
}